@import '../../styles/common.scss';

.lobbyPage_section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lobbyPage_setting_item {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

.lobbyPage_setting_cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.time_round_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 $shadow-one-quarter;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5rem;
  position: relative;
}

.time_round_item span {
  padding: 10px;
  border-radius: 3px;
  box-shadow: inset 0 4px 4px 0 $shadow-one-quarter;
}

.time_round_item_input {
  padding: 10px;
  border-radius: 3px;
  box-shadow: inset 0 4px 4px 0 $shadow-one-quarter;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.time_round_item_input input {
  width: 47px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
  position: relative;
  margin: 3px;
  background-color: white;
}

.time_round_img_wrap {
  width: 15px;
  height: 15px;
  transform: translateY(-20px);
}

.time_round_img_wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .lobbyPage_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lobbyPage_setting_item {
    width: auto;
    max-width: 300px;
    flex-direction: column;
    justify-content: center;
  }
}
