.Footer_wrap {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #2b3a67;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.Footer_item {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 5px;
}
