.main_page_title_wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_page_title_left {
  width: 85px;
  height: 85px;
  margin-right: 20px;
  overflow: hidden;
}

.main_page_title_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_page_title_right {
  width: 300px;
}

.main_page_title_right h2 {
  margin: 0;
  text-align: start;
  font-size: 3.5rem;
  font-weight: bold;
}

.main_page_title_right h2:last-child {
  text-align: end;
}

@media screen and (max-width: 768px) {
  .main_page_title_wrap {
    flex-direction: column;
  }
  .main_page_title_left {
    margin-right: 0;
    width: 75px;
    height: 75px;
  }
  .main_page_title_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 3rem;
      text-align: center;
    }
  }
}
