@import '../../styles/common.scss';

.small,
.medium {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: inset 0 4px 4px 0 $shadow-one-quarter;
}

.medium {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}

.small {
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
}

.Avatar_text {
  font-weight: 600;
  color: #fff;
  text-shadow: 0 4px 4px $shadow-one-quarter;
}

.admin {
  background-color: $red-orange-red;
}

.observer {
  background-color: $variable-sea-green;
}

.user {
  background-color: $variable-sky-blue;
}
