@import '../../styles/common.scss';

.game_container {
  max-width: 1300px;
  margin: 0 auto;
}

.game_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.game_issueBar {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: inset 0 4px 4px 0 $shadow-one-quarter;
  padding: 20px;
}

.game_body {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 4px 0 $shadow-one-quarter;
}

.game_desc {
  max-width: 80%;
  text-align: center;
  margin: 20px;
}

.game_timer {
  font-size: 1.5rem;
  font-weight: bold;
}

.game_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    margin: 10px;
  }
}

.game_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game_stat_card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game_users {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.game_user_wrapper {
  flex-basis: 30%;
}

.statistics {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .game_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .game_issueBar {
    max-width: 100%;
    width: auto;
  }

  .game_body {
    max-width: 100%;
    justify-content: center;
  }
}
