$base-dark-blue: #2b3a67;
$base-cornflower-blue: #496b83;
$base-cadet-blue: #66999b;
$base-azure: #b3af8f;
$base-antique: #ffc482;
$base-dark: #000;

$red-red: #ff0000;
$red-orange-red: #ff3333;
$red-clarified-red: #ff6666;
$red-light-red: #ff9999;
$red-light: #fff;

$variable-sky-blue: #60dabf;
$variable-chocolate: #b7631a;
$variable-dark-violet: #7d3488;
$variable-red: #e42b77;
$variable-orchid: #c34bad;
$variable-violet: #a527b1;
$variable-turquoise: #24a6ac;
$variable-khaki: #a1b261;
$variable-sea-green: #a1bb41;

$shadow-one-quarter: rgba(0, 0, 0, 0.25);
