@import '../../styles/common.scss';

.small,
.medium {
  margin: 10px;
  perspective: 200px;
}

.medium {
  width: 70px;
  height: 100px;
}

.small {
  width: 60px;
  height: 90px;
}

.card_content_show,
.card_content_no_show {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px 0 $shadow-one-quarter;
  border-radius: 10px;
}

.card_content_show {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card_content_no_show {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.card_coffeetime,
.card_value,
.card_cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 10px;
}

.card_coffeetime,
.card_value,
.card_cover {
  background-color: white;
}

.card_coffeetime img {
  width: 45px;
  height: 45px;
  text-align: center;
}

.card_coffeetime,
.card_value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_value_top {
  position: absolute;
  top: -5px;
  left: 15px;
}

.card_value_bottom {
  position: absolute;
  bottom: -5px;
  right: 15px;
}

.card_value_top,
.card_value_bottom {
  font-size: 1rem;
  font-weight: 600;
}

.card_cover_no_show {
  transform: rotateY(180deg);
}

.card_cover_show {
  transform: rotateY(0);
}

.card_cover_show,
.card_cover_no_show {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.card_cover_show img,
.card_cover_no_show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
