@import '../../styles/common.scss';

.GeneralButton_blue,
.GeneralButton_white {
  margin: 0 auto;
  padding: 0 10px;
  min-width: 240px;
  border: 1px solid $base-cornflower-blue;
  border-radius: 2px;
  font-family: 'Ruda', sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.GeneralButton_blue {
  color: $red-light;
  background-color: $base-dark-blue;
}

.GeneralButton_white {
  color: $base-dark-blue;
  background-color: $red-light;
  text-shadow: 0 4px 4px $shadow-one-quarter;
}

.GeneralButton_white:hover {
  color: $red-light;
  background-color: $base-dark-blue;
  text-shadow: none;
  transition: all 0.3s ease-in-out;
}

.GeneralButton_blue:hover {
  color: $base-dark-blue;
  background-color: $red-light;
  text-shadow: 0 4px 4px $shadow-one-quarter;
  transition: all 0.3s ease-in-out;
}

.GeneralButton_white:active {
  filter: opacity(0.8);
  transition: all 0.3s ease-in-out;
}

.GeneralButton_blue:active {
  filter: opacity(0.8);
  text-shadow: 0 4px 4px $shadow-one-quarter;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .GeneralButton_blue,
  .GeneralButton_white {
    min-width: 200px;
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 25px;
  }
}
