.InputComponent {
  background: #ffffff;
  border: 1px solid #2b3a67;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 0px 10px;
  width: 100%;
  max-width: 276px;
  height: 42px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
  text-align: center;
  outline: none;
}

@media screen and (max-width: 768px) {
  .InputComponent {
    max-width: 200px;
    height: 2rem;
    margin: 5px;
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}
