{
  "extends": ["plugin:import/react", "prettier", "airbnb-base", "plugin:@typescript-eslint/recommended", "plugin:import/typescript"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "requireConfigFile": false },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "comma-dangle": "off",
    "@typescript-eslint/comma-dangle": "off",
    "semi": ["error", "always"],
    "no-use-before-define": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-use-before-define": ["error", {variables: false}]
  },
  "plugins": [
    "@typescript-eslint",
    "react-hooks"
  ]
}
